<div class="card mt-3">
    <div class="card-body">
        <h1 class="text-center mb-3">Porfavor ingrese sus datos para acceder al sistema</h1>
        <form class="needs-validation" novalidate action="/cola" method="POST">
            <input class="form-control" type="text" name="cedula" placeholder="cedula de identidad" required>
            <input type="text" id="telefono" class="d-none form-control mt-3" name="telefono" placeholder="Ingrese su numero telefonico">
            <select class="form-select mt-3" name="tipo" id="tipo" onchange="tipoTicket(this.value)" required>
                <option value="" selected hidden>Seleccione</option>
                <option value="0">Ticket fisico</option>
                <option value="1">Ticket virtual</option>
            </select>
            <div class="text-center">
                <button type="submit" class="btn btn-submit-mov mt-3 text-white">Siguente</button>
            </div>
        </form>
    </div>
</div>

