<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Colas</title>
</head>
<body>
    <div class="text-center">
        <nav class="nav nav-bar bg-mov">
            <img class="img-head" src="/public/img/Movilnet-logo_0.png" alt="">
        </nav>
    </div>
    <div class="container">
        <%-body%>
    </div>
    <script src="/public/js/functions.js"></script>
    <script src="/js/sweetalert2.all.min.js"></script>
</body>
</html>